@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.gfont {
  font-family: Roboto;
}

p.gfont {
  font-size: 24px;
}  

body {
  font-family: Roboto;
}
body {
  color: #222;
  background: #fff;
}
a {
  color: #0033cc;
}
 
/* Dark Mode styles */
body.dark-mode {
  color: #eee;
  background: #121212;
}
body.dark-mode a {
  color: #809fff;
}

