@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.gfont {
  font-family: Roboto;
}

p.gfont {
  font-size: 24px;
}  

body {
  font-family: Roboto;
}
body {
  color: #222;
  
a {
  color: #0033cc;
}

/* Dark Mode styles */
.dark-mode {
  color: #eee;
  background: #121212;
}
.dark-mode.a {
  color: #809fff;
}

